falcon.sdf
falcon.opensdf
falcon.v12.suo
falcon.v12.suo
falcon.v12.suo
Visual Micro/Compile.vmps.xml
Visual Micro/Upload.vmps.xml
falcon.v12.suo
*.suo
Visual Micro/Upload.vmps.xml
Visual Micro/Compile.vmps.xml
Visual Micro/Configuration.Release.vmps.xml